<button name="@Name" @onclick="OnClick" type="button" class="btn @Class btn-lg w-100">
    <span class="oi @Icon" aria-hidden="true"></span>
</button>

@code {
    [Parameter]
    public string Name { get; set; }
    [Parameter] 
    public Action OnClick { get; set; }
    [Parameter]
    public string Icon { get; set; }
    [Parameter]
    public string Class { get; set; }
}